<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add connectionString="Data Source=W-674PY03-2;Initial Catalog=Siddhi_DB;Persist Security Info=True;User ID=SA;Password=Password@123456-=" name ="MyCon"/>
	</connectionStrings>
</configuration>